.app{
    display: flex;
    flex-float: row nowrap;
}

.topbar, .sidebar{
    background-color: black;
    padding: .5rem;
}

.menu > a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.sidebar{
    flex-basis: 270px;
    transition: all .3s ease-in-out;
}

.content{
    background-color: white;
    flex:1;
    transition: all .3s ease-in-out;
}

.sidebar.collapse {
    transform: translate3d(-270px, 0, 0);
}

.content.full-width {
    margin-left: -270px;
}

.body{
    flex-grow: 1;
}

.info{
    text-align: right;
    font-style: italic;
    font-weight: normal;
    padding-right: 1rem;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: white;
}

.topbar > .account{
    display: none;
}

.topbar > .command {
    flex: 1;
}

.topbar > *{
    color:white;
    margin-right: 8px;
}
@media screen and (min-width:769px){
    .topbar > .account{
        display: block;
    }
}



