.searchbar {
    background-color: white;
    padding: .2rem;
    border-bottom: 2px dotted var(--primary);
    max-height: 20%; /* da vedere */
}


.searchbar > *{
    color:white;
    margin-right: 8px;
    margin-left: 8px;

}

input {
    height: 40px;
    line-height: 40px;
}
svg{
    fill: black;
}
.restaurants{
    margin: 1rem;
}

.restaurants-table > thead {
    background-color: var(--primary);
    color: white;
}

table > caption {
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

a {
    text-decoration: none;
}

.blank{
    display:none;
    border-bottom: 0 !important;
}

#totaleOrd{
    color:var(--primary);
    font-weight: bold;
    font-family: Myriad;
}