img {
    max-width: 100%;
    height: auto;
    width: 15vw;
}

div#header{
    display:flex;
    flex-flow: column wrap;
    align-items:center;
    background-color: rgba(0,0,0,0);
}

figure {
    margin: 5px;
    background-color: rgba(0,0,0,0);
    color:white;
    text-align:center;
    max-width:100%;
}

#links a{
    text-decoration: none;
    color:white;
}

@media screen and (min-width: 481px){
    figure {
        position: absolute;
        left:30px;
        margin: 10px;
        background-color: rgba(0,0,0,0);
        color:white;
        text-align:center;
        max-width:100%;
    }

    div#links a{
        float:right;
        margin: 4px;
        text-decoration: none;
        font-family: Myriad;
        font-weight: bold;
        font-style: normal;
        text-shadow: black;
        color:white;
    }

    div#links{
        right: 30px;
        top:40px;
        position: absolute;
        background-color: rgba(0,0,0,0);
    }

    div#header{
        display:flex;
        flex-flow: row wrap;
        align-items: normal;
        background-color: rgba(0,0,0,0);
        height: 25vw;
        width: auto;
        padding: 20px;
    }

}



