.fluid-image{
    max-width: 100%;
    height: 65px;
}

div#header{
    background-color: rgba(0,0,0,0);
    background-image: url("/FoodOut/images/sfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 500px;
    position: relative;
}

figure {
    margin: 5px;
    background-color: rgba(0,0,0,0);
    color:white;
    text-align:center;
    max-width:100%;
}

#links a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-style: normal;
    font-family: Myriad;
}

.navbar{
    justify-content: space-between;
    width:100%;
    padding: 20px;
}

.info-ris{
    width:100%;
    position: absolute;
    right: 0;
    top:60%;
}

.disponibilita{
    width:100%;
    position: relative;
    right: 0;
    top:180%;
}

@media screen and (min-width: 769px){
    .fluid-image{
        max-width: 100%;
        height: auto;
    }
}






