@font-face {
    font-family: "Myriad";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: "Myriad";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/MYRIADPRO-REGULARIT.OTF");
}

@font-face {
    font-family: "Myriad";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/MYRIADPRO-BOLD.OTF");
}

@font-face {
    font-family: "Myriad";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/MYRIADPRO-BOLDIT.OTF");
}

div {
    background-color: black;
    border: 2px solid blue;
}

#header img{
    left: 5px;
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 5px;
}
#links a{
    float:right;
    margin: 4px;
    text-decoration: none;
    font-family: Myriad;
    font-weight: bold;
    font-style: normal;
    text-shadow: black;
    color:white;
}

#header #links{
    right: 2px;
    position: absolute;
}


