@font-face {
    font-family: "Myriad";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: "Myriad";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/MYRIADPRO-REGULARIT.OTF");
}

@font-face {
    font-family: "Myriad";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/MYRIADPRO-BOLD.OTF");
}

@font-face {
    font-family: "Myriad";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/MYRIADPRO-BOLDIT.OTF");
}

:root{
    font-family: Myriad;
    font-weight: normal;
    font-style: normal;
    font-size:clamp(16px, 2vw, 24px);
    --primary: #be1b38;
    --error: #EE4037;
    --success: #89C540
}

input, select, textarea{
    padding: 8px;
    border-width: 1px;
    border-color:#CCCCCC;
    background-color: white;
    color:black;
    border-style:solid;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(212,212,212,.54);
}

input:focus, textarea:focus, select:focus{
    outline: var(--primary);
}

.app{
    height: 100vh;
    max-width: 100%;
}

.hide{
    display: none; !important;
}

.grid-x{
    display: flex;
    flex-flow: row wrap;
}

.grid-y{
    display: flex;
    flex-flow: column wrap;
}

.grid-inline{
    display:inline-flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.cell{
    flex-basis: 100%;
}

.field{
    display: inline-flex;
    align-items: center;
}

.field > input, .field > select, .field > textarea{
    width:100%;
}

.field > input[disabled], .field > select [disabled], .field > textarea[disabled]{
    background-color: darkgrey;
}

.field > input[readonly], .field > select [readonly], .field > textarea[readonly]{
    background-color: lightgrey;
}

input{
    height: 50px;
    line-height: 27px;
}

.btn{
    padding: 8px;
    border:none;
    cursor: pointer;
}

button.primary{
    background-color: var(--primary);
    color: white;
}

button.primary:hover{
    filter:brightness(110%);
}

.table{
    border-collapse: collapse;
    background-color:white;
    font-size: large;
    font-weight: normal;
    font-style: normal;
    font-family: Myriad;
}

.table > thead{
    visibility: hidden;
}

.table tr{
    border: 1px solid black;
    margin-bottom: .5rem;
    padding: .5rem;
    display:block;
}

.table > tbody td{
    display: block;
    border-bottom: 1px solid black;
    text-align: right;
    padding: .5rem;
}

.table > tbody td:before{
    content: attr(data-head);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color:var(--primary);
}

.paginator{
    list-style-type: none;
}

.paginator > li {
    border: 1px solid white;
    padding: .5rem;
    background-color: var(--primary);
}

.paginator > li> a {
    text-decoration: none;
    color: white;
}

.paginator > li:hover{
    filter:brightness(110%);
}

.notification {
    position:relative;
    color:white;
    border-radius:10px;
    padding: .2rem;
    margin-bottom:.2rem;
}

.notification.success{
    background-color: var(--success);
}

.notification.danger{
    background-color: var(--error);
}

.notification .close{
    position:absolute;
    top:10px;
    right: 10px;
    fill:white;
}

@media screen and (min-width: 769px){

    .w10{
        flex-basis: 10%;
    }

    .w80{
        flex-basis: 80%;
    }


    .w25{
        flex-basis: 25%;
    }

    .w40{
        flex-basis: 40%;
    }

    .w50{
        flex-basis: 50%;
    }

    .w63{
        flex-basis: 63%;
    }

    .w65{
        flex-basis: 65%;
    }

    .w75{
        flex-basis: 75%;
    }

    .w30{
        flex-basis: 30%;
    }

    .w33{
        flex-basis: 33%;
    }

    .w82{
        flex-basis: 82%;
    }

    .w85{
        flex-basis: 85%;
    }

    .w100{
        flex-basis: 100%;
    }

    .table > thead{
        visibility: visible;
    }

    .table tr{
        display: table-row;
    }

    .table > tbody td{
        display: table-cell;
        text-align:center;
    }

    .table > tbody td:before{
        content:"";
        float: none;
    }
}